<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title> first App</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse">
            <ul class="nav nav-bar-nav">
                <li><a href="/"> Home </a> </li>
                <li><a href="/cadastro"> Cadastro </a> </li>
                <li><a href="/about"> Sobre </a> </li>
            </ul>
        </nav>
    </header>
    
    <main>
        <div class="container">
            <%- body%>
        </div>
    </main>

    <footer class="rodape">
        Aula de node.js
    </footer>
</body>
</html>