<!-- <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Meu nome é wallace leite. Tenho 22 anos e sou estudante universitário da ufc no curso de SMD</h1>
</body>
</html> -->

<%- contentFor( 'body') %>

<div class="jumbotron text-center">
    <p>Meu nome é wallace leite. Tenho 22 anos e sou estudante universitário da Universidade federal do Ceará(ufc) no curso de Sistemas e Mídias Digitais (SMD)</p>
</div>